	<h2>Admin</h2>
	<%= simple_form_for @user, url: admin_url, :html => { :class => 'form-horizontal' } do |f| %>
		<legend>Update your password.</legend>
		<%= render partial: 'old_password_field' %>
	  <%= f.input :password %>
	  <%= f.input :password_confirmation %>
	  <div class="form-actions">
	    <%= f.button :submit, :class => 'btn-primary' %>
	    <%= link_to 'Cancel',
	                admin_url, 
									:class => 'btn' %>
	  </div>
	<% end %>