<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Joined</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, '#' %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%=l user.created_at %></td>
        <td>
					<% if can? :update, user %>
          	<%= link_to 'Edit',
	                      admin_path,
												:class => 'btn btn-mini' %>
					<% end %>
					<% if can? :deactivate, user %>
	          <%= link_to 'Deactivate',
	                      cancel_account_path,
	                      :method => :put,
	                      :confirm => 'Are you sure?',
	                      :class => 'btn btn-mini btn-danger' %>
						<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>